form {
	.link-list .linked-doc{
		margin-right: 10px;
	}
	.link-list + .linked-doc,
	.link-list ~ .link-form select {
		margin-right: 10px;
	}
	.link-form {
		display: none;
	}
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
