<h2>Accounts</h2>
<div class="accounts">
	<div><a href="/accounts/new">New Account</a></div>
	<ul>
		<% for ( var i= 0; i < data.accounts.length; i++ ) { %>
			<li>
				<a href="/accounts/view/<%= data.accounts[i]._id %>"><%= data.accounts[i].name %></a>
			</li>
		<% } %>
	</ul>
</div>
