<h2>Devices</h2>
<div class="devices">
	<ul>
		<% for ( var i= 0; i < data.devices.length; i++ ) { %>
			<li>
				<a href="/devices/view/<%= data.devices[i]._id %>"><%= data.devices[i].name %></a>
			</li>
		<% } %>
	</ul>
</div>
