<h2>Account Details</h2>
<div class="device-details" data-module="DeviceDetails" data-id="<%= data.device._id %>">
	<form>
		<div>
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" value="<%= data.device.name %>" />
		</div>
	</form>
</div>
