<div class="home" data-module="Home" data-id="<%= data.user._id %>" data-account="<%= data.user.account_id %>">
	<!-- CHART -->
	<div class="chart-container" data-ids="">
		<div id="chart" class="rickshaw_graph"></div>
		<div id="y_axis"></div>
		<div id="slider"></div>
		<div id="legend_container">
			<div id="smoother" title="Smoothing"></div>
			<div id="legend" class="rickshaw_legend"></div>
		</div>
	</div>
	<div class="stats">
		<ul>
			<li>Today's High: <span class="hi"></span></li>
			<li>Today's Low: <span class="lo"></span></li>
			<li>Today's Average: <span class="avg"></span></li>
		</ul>
		<ul>
			<li>Last Update:</li>
			<li>Current Temp:</li>
			<li>Current Humidity:</li>
		</ul>
	</div>
	<!-- MAP -->
	<div class="map-canvas" data-type="multiple"></div>
</div>
