<div class="chart-container" data-module="TemperatureChart" data-ids="<%= data.device._id %>">
	<div id="chart" class="rickshaw_graph"></div>
	<div id="y_axis"></div>
	<div id="slider"></div>
	<div id="legend_container">
		<div id="smoother" title="Smoothing"></div>
		<div id="legend" class="rickshaw_legend"></div>
	</div>
</div>
