<h2>New Account</h2>
<div class="account-new" data-module="AddAccount">
	<form>
		<div class="form-item">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" value="" />
		</div>
	</form>
	<button class="add-account">Submit</button>
</div>
