<h2>New Location</h2>
<div class="location-new" data-module="AddLocation">
	<form>
		<div class="form-item">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" value="" />
		</div>
		<div class="form-item">
			<label for="company">Company Name:</label>
			<input type="text" id="company" name="company" value="1" />
		</div>
		<div class="form-item">
			<label for="address1">Address 1:</label>
			<input type="text" id="address1" name="address1" value="1" />
		</div>
		<div class="form-item">
			<label for="address2">Address 2:</label>
			<input type="text" id="address2" name="address2" value="1" />
		</div>
		<div class="form-item">
			<label for="city">City:</label>
			<input type="text" id="city" name="city" value="1" />
		</div>
		<div class="form-item">
			<label for="state">State:</label>
			<input type="text" id="state" name="state" value="1" />
		</div>
		<div class="form-item">
			<label for="zip">Zip:</label>
			<input type="text" id="zip" name="zip" value="1" />
		</div>
	</form>
	<button class="add-location">Submit</button>
</div>
