<h2>New Device</h2>
<div class="device-new" data-module="AddDevice">
	<form>
		<div>
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" value="" />
		</div>
		<div>
			<label for="version">Version:</label>
			<input type="text" id="version" name="version" value="1" />
		</div>
	</form>
	<button class="add-device">Submit</button>
</div>
