/* line 4, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 11, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 1, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
html, body {
  height: 100%;
  font-family: "helvetica", georgia, sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

/* line 10, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 16, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
::-webkit-scrollbar {
  width: 0; }

/* line 20, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
.outer {
  height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, /Users/jjacobs/Documents/projects/temperature-service/bourbon/addons/_clearfix.scss */
  .outer::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1024px)  {
    .outer {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      /* line 20, /Users/jjacobs/Documents/projects/temperature-service/bourbon/addons/_clearfix.scss */
      .outer::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (max-width: 768px)  {
    .outer {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto; }
      /* line 20, /Users/jjacobs/Documents/projects/temperature-service/bourbon/addons/_clearfix.scss */
      .outer::after {
        clear: both;
        content: "";
        display: table; } }

/* line 33, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
.wrapper {
  float: left;
  display: block;
  margin-right: 3.07692%;
  width: 85.27473%;
  float: none;
  height: 100%;
  margin: 0 auto; }
  /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
  .wrapper:last-child {
    margin-right: 0; }
  /* line 40, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
  .wrapper:last-child {
    margin-right: auto; }
  /* line 44, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
  .wrapper .lg-three-col {
    float: left;
    display: block;
    margin-right: 3.60825%;
    width: 22.29381%; }
    /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
    .wrapper .lg-three-col:last-child {
      margin-right: 0; }
  /* line 48, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
  .wrapper .lg-nine-col {
    float: left;
    display: block;
    margin-right: 3.60825%;
    width: 74.09794%; }
    /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
    .wrapper .lg-nine-col:last-child {
      margin-right: 0; }
  /* line 52, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
  .wrapper .lg-twelve-col {
    float: left;
    display: block;
    margin-right: 3.60825%;
    width: 100%; }
    /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
    .wrapper .lg-twelve-col:last-child {
      margin-right: 0; }
  /* line 56, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
  .wrapper .style-element {
    cursor: pointer; }
  @media screen and (max-width: 1024px)  {
    .wrapper {
      float: left;
      display: block;
      margin-right: 3.94922%;
      width: 81.10014%;
      float: none; }
      /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
      .wrapper:last-child {
        margin-right: 0; }
      /* line 65, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
      .wrapper:last-child {
        margin-right: auto; }
      /* line 69, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
      .wrapper .med-two-col {
        float: left;
        display: block;
        margin-right: 4.86957%;
        width: 18.43478%; }
        /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
        .wrapper .med-two-col:last-child {
          margin-right: 0; }
      /* line 73, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
      .wrapper .med-seven-col {
        float: left;
        display: block;
        margin-right: 4.86957%;
        width: 76.69565%; }
        /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
        .wrapper .med-seven-col:last-child {
          margin-right: 0; }
      /* line 77, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
      .wrapper .med-nine-col {
        float: left;
        display: block;
        margin-right: 4.86957%;
        width: 100%; }
        /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
        .wrapper .med-nine-col:last-child {
          margin-right: 0; } }
  @media screen and (max-width: 768px)  {
    .wrapper {
      float: left;
      display: block;
      margin-right: 7.48663%;
      width: 100%;
      float: none; }
      /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
      .wrapper:last-child {
        margin-right: 0; }
      /* line 86, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
      .wrapper:last-child {
        margin-right: auto; }
      /* line 90, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
      .wrapper .one-col {
        float: left;
        display: block;
        margin-right: 7.48663%;
        width: 10.42781%; }
        /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
        .wrapper .one-col:last-child {
          margin-right: 0; }
      /* line 94, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
      .wrapper .two-col {
        float: left;
        display: block;
        margin-right: 7.48663%;
        width: 28.34225%; }
        /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
        .wrapper .two-col:last-child {
          margin-right: 0; }
      /* line 98, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
      .wrapper .three-col {
        float: left;
        display: block;
        margin-right: 7.48663%;
        width: 46.25668%; }
        /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
        .wrapper .three-col:last-child {
          margin-right: 0; }
      /* line 102, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
      .wrapper .four-col {
        float: left;
        display: block;
        margin-right: 7.48663%;
        width: 64.17112%; }
        /* line 89, /Users/jjacobs/Documents/projects/temperature-service/neat/grid/_span-columns.scss */
        .wrapper .four-col:last-child {
          margin-right: 0; }
      /* line 106, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
      .wrapper .small-no-gutter {
        margin-right: 0; } }
  /* line 111, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
  .wrapper .console {
    margin-top: 50px; }
  /* line 116, /Users/jjacobs/Documents/projects/temperature-service/sass/_global.scss */
  .wrapper #console {
    height: 500px;
    width: 100%; }

/* line 3, /Users/jjacobs/Documents/projects/temperature-service/sass/_modules.scss */
.module {
  width: 100%;
  display: block;
  border-bottom: #000000 1px solid;
  padding: 40px 0;
  position: relative; }
  /* line 20, /Users/jjacobs/Documents/projects/temperature-service/bourbon/addons/_clearfix.scss */
  .module::after {
    clear: both;
    content: "";
    display: table; }

/* line 2, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
form .link-list .linked-doc {
  margin-right: 10px; }
/* line 6, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
form .link-list + .linked-doc, form .link-list ~ .link-form select {
  margin-right: 10px; }
/* line 9, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
form .link-form {
  display: none; }
/* line 13, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
form .form-item {
  margin-bottom: 10px; }
/* line 17, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
form input {
  border: 1px solid #dddddd;
  font-size: 16px; }
  /* line 21, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
  form input:focus {
    border: 1px solid #000000;
    outline: none; }
/* line 26, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
form button[class*="update-"] {
  margin-right: 10px; }

/* graph */
/* line 49, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.chart-container {
  position: relative; }

/* line 53, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph {
  position: relative; }

/* line 56, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph svg {
  display: block;
  overflow: hidden; }

/* ticks */
/* line 63, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .x_tick {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0px;
  border-left: 1px dotted rgba(0, 0, 0, 0.2);
  pointer-events: none; }

/* line 71, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .x_tick .title {
  position: absolute;
  font-size: 12px;
  opacity: 0.9;
  white-space: nowrap;
  margin-left: 3px;
  bottom: 1px; }

/* annotations */
/* line 83, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_annotation_timeline {
  height: 1px;
  border-top: 1px solid #e0e0e0;
  margin-top: 10px;
  position: relative; }

/* line 89, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_annotation_timeline .annotation {
  position: absolute;
  height: 6px;
  width: 6px;
  margin-left: -2px;
  top: -3px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25); }

/* line 98, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .annotation_line {
  position: absolute;
  top: 0;
  bottom: -6px;
  width: 0px;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  display: none; }

/* line 106, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .annotation_line.active {
  display: block; }

/* line 110, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .annotation_range {
  background: rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  top: 0;
  bottom: -6px; }

/* line 117, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .annotation_range.active {
  display: block; }

/* line 120, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .annotation_range.active.offscreen {
  display: none; }

/* line 124, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_annotation_timeline .annotation .content {
  background: white;
  color: black;
  opacity: 0.9;
  padding: 5px 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  position: relative;
  z-index: 20;
  font-size: 12px;
  padding: 6px 8px 8px;
  top: 18px;
  left: -11px;
  width: 160px;
  display: none;
  cursor: pointer; }

/* line 141, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_annotation_timeline .annotation .content:before {
  content: "\25b2";
  position: absolute;
  top: -11px;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8); }

/* line 149, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_annotation_timeline .annotation.active, .rickshaw_annotation_timeline .annotation:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: none; }

/* line 153, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_annotation_timeline .annotation .content:hover {
  z-index: 50; }

/* line 156, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_annotation_timeline .annotation.active .content {
  display: block; }

/* line 159, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_annotation_timeline .annotation:hover .content {
  display: block;
  z-index: 50; }

/* line 164, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .y_axis, .rickshaw_graph .x_axis_d3 {
  fill: none; }

/* line 168, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .y_ticks .tick line, .rickshaw_graph .x_ticks_d3 .tick {
  stroke: rgba(0, 0, 0, 0.16);
  stroke-width: 2px;
  shape-rendering: crisp-edges;
  pointer-events: none; }

/* line 175, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .y_grid .tick, .rickshaw_graph .x_grid_d3 .tick {
  z-index: -1;
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 1 1; }

/* line 181, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .y_grid .tick[data-y-value="0"] {
  stroke-dasharray: 1 0; }

/* line 185, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .y_grid path, .rickshaw_graph .x_grid_d3 path {
  fill: none;
  stroke: none; }

/* line 190, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .y_ticks path, .rickshaw_graph .x_ticks_d3 path {
  fill: none;
  stroke: #808080; }

/* line 195, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .y_ticks text, .rickshaw_graph .x_ticks_d3 text {
  opacity: 0.5;
  font-size: 12px;
  pointer-events: none; }

/* line 201, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .x_tick.glow .title, .rickshaw_graph .y_ticks.glow text {
  fill: black;
  color: black;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.1), 1px -1px 0 rgba(255, 255, 255, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.1), 0px 1px 0 rgba(255, 255, 255, 0.1), 0px -1px 0 rgba(255, 255, 255, 0.1), 1px 0px 0 rgba(255, 255, 255, 0.1), -1px 0px 0 rgba(255, 255, 255, 0.1), -1px -1px 0 rgba(255, 255, 255, 0.1); }

/* line 215, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .x_tick.inverse .title, .rickshaw_graph .y_ticks.inverse text {
  fill: white;
  color: white;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8), 0px 1px 0 rgba(0, 0, 0, 0.8), 0px -1px 0 rgba(0, 0, 0, 0.8), 1px 0px 0 rgba(0, 0, 0, 0.8), -1px 0px 0 rgba(0, 0, 0, 0.8), -1px -1px 0 rgba(0, 0, 0, 0.8); }

/* line 229, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail {
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 1px;
  transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  -webkit-transition: opacity 0.25s linear; }

/* line 242, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail.inactive {
  opacity: 0; }

/* line 245, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .item.active {
  opacity: 1; }

/* line 248, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .x_label {
  border-radius: 3px;
  padding: 6px;
  opacity: 0.9;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  position: absolute;
  background: white;
  white-space: nowrap; }

/* line 259, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .x_label.left {
  left: 0; }

/* line 262, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .x_label.right {
  right: 0; }

/* line 265, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .item {
  position: absolute;
  z-index: 2;
  border-radius: 3px;
  padding: 0.25em;
  font-size: 12px;
  font-family: Arial, sans-serif;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-left: 1em;
  margin-right: 1em;
  margin-top: -1em;
  white-space: nowrap; }

/* line 281, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .item.left {
  left: 0; }

/* line 284, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .item.right {
  right: 0; }

/* line 287, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .item.active {
  opacity: 1;
  background: rgba(0, 0, 0, 0.8); }

/* line 291, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .item:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: "";
  border: 5px solid transparent; }

/* line 301, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .item.left:after {
  top: 1em;
  left: -5px;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.8);
  border-left-width: 0; }

/* line 308, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .item.right:after {
  top: 1em;
  right: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.8);
  border-right-width: 0; }

/* line 315, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .dot {
  width: 4px;
  height: 4px;
  margin-left: -3px;
  margin-top: -3.5px;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  background: white;
  border-width: 2px;
  border-style: solid;
  display: none;
  background-clip: padding-box; }

/* line 331, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_graph .detail .dot.active {
  display: block; }

/* line 335, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
#chart {
  display: inline-block; }

/* line 338, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
#legend {
  display: inline-block;
  position: relative;
  left: 8px; }

/* line 343, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
#legend_container {
  position: absolute;
  top: 10px;
  right: 10px; }

/* line 348, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
#chart_container {
  float: left;
  position: relative; }

/* line 353, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend {
  font-family: Arial;
  font-size: 12px;
  color: white;
  background: #404040;
  display: inline-block;
  padding: 12px 5px;
  border-radius: 2px;
  position: relative; }

/* line 363, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend:hover {
  z-index: 10; }

/* line 366, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend .swatch {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2); }

/* line 371, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend .line {
  clear: both;
  line-height: 140%;
  padding-right: 15px; }

/* line 376, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend .line .swatch {
  display: inline-block;
  margin-right: 3px;
  border-radius: 2px; }

/* line 381, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend .label {
  margin: 0;
  white-space: nowrap;
  display: inline;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  font-weight: normal;
  line-height: normal;
  padding: 0px;
  text-shadow: none; }

/* line 393, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend .action:hover {
  opacity: 0.6; }

/* line 396, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend .action {
  margin-right: 0.2em;
  font-size: 10px;
  opacity: 0.2;
  cursor: pointer;
  font-size: 14px; }

/* line 403, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend .line.disabled {
  opacity: 0.4; }

/* line 406, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 2px;
  cursor: pointer; }

/* line 413, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend li {
  padding: 0 0 0 2px;
  min-width: 80px;
  white-space: nowrap; }

/* line 418, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend li:hover {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 3px; }

/* line 422, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.rickshaw_legend li:active {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px; }

/* line 427, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
#y_axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px; }

/* line 434, /Users/jjacobs/Documents/projects/temperature-service/sass/_forms.scss */
.map-canvas {
  height: 400px;
  width: 600px; }
