<h2>New User</h2>
<div class="location-new" data-module="AddUser">
	<form>
		<div>
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" value="" />
		</div>
		<div>
			<label for="firstname">First Name:</label>
			<input type="text" id="firstname" name="firstname" value="" />
		</div>
		<div>
			<label for="lastname">Last Name:</label>
			<input type="text" id="lastname" name="lastname" value="" />
		</div>
		<div>
			<label for="email">Email:</label>
			<input type="text" id="email" name="email" value="" />
		</div>
		<div>
			<label for="phone">Phone:</label>
			<input type="text" id="phone" name="phone" value="" />
		</div>
		<div>
			<label for="notifications">Notifications:</label>
			<input type="text" id="notifications" name="notifications" value="phone" />
		</div>
		<div>
			<label for="password">Password:</label>
			<input type="text" id="password" name="password" value="" />
		</div>
	</form>
	<button class="add-user">Submit</button>
</div>
